<script src="/socket.io/socket.io.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

<head>
	<link rel="stylesheet" type="text/css" href="/public/css/battle.css">
</head>

<br>
<input type="text" id="in" autofocus>
<br>
<img src="{{p1.url}}" id="sprite1">
<div id="hptext1">100%</div>
<div id="hp1"></div>
<br>
<img src="{{p2.url}}" id="sprite2">
<div id="hptext2">100%</div>
<div id="hp2"></div>
<div id="winner" style="display: none"></div>

<script>
	var socket = io();
	var temp = document.cookie.split(";")
	var temp2 = []
	var done = false
	for(var i = 0; i< temp.length; i++) {
		temp2.push(temp[i].split("="))
	}
	var numb
	for(var i = 0; i < temp2.length; i++) {
		if(temp2[i][0] === "numb") {
			numb = temp2[i][1]
		}
	}
	function clear() {
		//apparenrlt thisdoesnt work rn
        while (document.getElementsByClassName("one")) {
            document.getElementsByTagName("body")[0].removeChild(document.getElementsByClassName("one")[0])
		}
		while (document.getElementsByClassName("two")) {
            document.getElementsByTagName("body")[0].removeChild(document.getElementsByClassName("two")[0])
		}
	}
    function spawn(player,type) {
		var types=["normal","fighting","flying","poison","ground","rock","bug","ghost","steel","fire","water","grass","electric","pychic","ice","dragon","dark","fairy"]
        var colors=["LightGray", "maroon", "LightSkyBlue", "Purple", "SaddleBrown", "DarkGoldenrod", "Olive", "DarkSlateBlue", "Gray", "Crimson", "RoyalBlue", "LimeGreen", "Gold", "HotPink", "CornflowerBlue", "Navy", "DarkSlateGray", "Violet"]
        var index = types.indexOf(type)
        a = document.createElement("div")
        if(player == 1) {
        	a.setAttribute("class", "one")
		} else if(player == 2) {
			a.setAttribute("class", "two")
		}
		a.style["background-color"] = colors[index]
		document.getElementsByTagName("body")[0].appendChild(a);
	}

	var factor = 20
	document.getElementById("sprite1").style["height"] = Math.ceil(70*(1-Math.exp(-{{p1.height}}/factor))) + "%"
	document.getElementById("sprite2").style["height"] = Math.ceil(70*(1-Math.exp(-{{p2.height}}/factor))) + "%"

	$('#in').keyup(function() {
		if(!done && numb != 3){
			var p = JSON.parse(`{{{json}}}`)
			var char = $("#in").val()
			var len = char.length
			var last = "qwer".indexOf(char[char.length-1])
			if(last != -1) {
				socket.emit('action',numb, last);
			} else if(last == -1 && $("#in").val() === " ") {
				socket.emit('winbypass',numb);
			}
		}
    	$("#in").val('');
    	return false;
	});

	socket.on('action', function(numb, hp,type) {
		var them = 2-(numb-1)
		document.getElementById("hp"+them).style["width"] = ((Math.max(0,hp)/100)*15) + "%";
		document.getElementById("hptext"+them).innerHTML = Number.parseFloat(Math.max(0,hp)).toPrecision(2) + "%";
		spawn(numb,type);
  	});

	socket.on('win', function(player) {
		document.getElementById("winner").style["display"] = "block"
		document.getElementById("winner").innerHTML = "player "+player+" wins!"
		done = true
		//clear()
		if(player == 1) {
			document.getElementById("hp2").style["width"] = 0 + "%";
			document.getElementById("hptext2").innerHTML = 0 + "%";
		} else if(player == 2) {
			document.getElementById("hp1").style["width"] = 0 + "%";
			document.getElementById("hptext1").innerHTML = 0 + "%";
		}
  	});
</script>
